.album-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  .album-list li {
    margin: 20px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 1.1875rem;
    cursor: pointer;
  }
  
  .album-list img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .album-list p {
    margin: 0 20px;
    align-self: center;
  }
  
  .album-detail {
    display: flex;
    margin: 40px 0 0 80px;
    padding: 2rem;
  }
  
  .album-cover {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .album-detail ol {
    margin: 0 40px;
  }
  
  .album-detail ol li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.1875rem;
    color: #ffffff;
  }
  
  .play-btn {
    margin: 0;
  }